<html>
    <head>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/feed.js"></script>
    </head>
    <body>
        <div>
            <img id="tagged" height="480px" width="640px" src="/static/img/feed.png">
            <p id="status">Upload Image</p>
        </div>
        <div>
            <form method=post enctype=multipart/form-data id="image_upload">
                <p><input type="file" name="image" id="image"></p>
                <p><input type="submit" value="upload"></p>
            </form>
        </div>
    </body>
</html>