<html>
    <head>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/train.js"></script>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div>
            <img id="question" height="480px" width="640px" src="/static/img/train.png">
            <p align="center" id="status">Select Subject from Dropdown Below</p>
        </div>
        <div class="dropdown" align="center">
            <button id="list-subs" class="dropbtn">Subject</button>
            <button id="next-image" class="dropbtn">Next</button>
            <div id="subsel" class="dropdown-content"></div>
        </div>
    </body>
</html>